<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header">
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/res/mycss.css"/>
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css"/>
    <script src="/js/jquery.mCustomScrollbar.js"></script>
</head>


<script>
    /*<![CDATA[*/
    var timeouts = [];
    var selectedID=0;
    $(document).ready(function () {


        $(window).resize(function () {
            var height = window.innerHeight - $('#knavbar').height();
            $('#conrow').css('minHeight', height);
            $('#conrow').css('maxHeight', height);
            $('#leftCol').css('minHeight', height);
            $('#leftCol').css('maxHeight', height);
            console.log(height);
        });

        $(window).resize();

        (function ($) {
            $(window).on("load", function () {
                $("#leftCol").mCustomScrollbar();
            });
        })(jQuery);

        $(".sidebar-item").click(function () {
            $(".sidebar-item").each(function (index) {
                $(this).css('background-color', '');
            });
            $(this).css('background-color', 'rgba(255, 255, 255, 0.11)');
            selectedID=$(this).attr("data-dev-id");
            $("#contentColumn").load("/devices/" + $(this).attr("data-dev-id"));
        });
    });

    /*]]>*/
</script>

<body class="bbg container-fluid" style="height: 100%">
<div id="knavbar" class="row" th:with="nav=${'devices'}" th:include="fragments/navbar"></div>
<div class="row" id="conrow">
    <div class="col-lg-2 col-md-3 pre-scrollable" id="leftCol" style="overflow: hidden">
        <ul class="sidebar-nav" id="sidebar">
            <li th:each="dev:${devices}"><a href="#" th:attr="data-dev-id=${dev.getId()}" class="sidebar-item"
                                            th:text="${dev.getName()}">dev</a></li>
        </ul>
    </div>
    <div class="col-md-9 col-lg-10" id="contentColumn"></div>
</div>
</body>
</html>