<!--suppress ThymeleafVariablesResolveInspection -->
<link rel="stylesheet" href="/css/rangeslider.css"/>
<style>
    input {
        max-width: 75px;
    }
</style>

<script src="/js/rangeslider.js"></script>
<script src="/js/Chart.js"></script>
<script>/*<![CDATA[*/
$("document").ready(function () {
    $("input").change(function () {
        var inputs = $(this).closest('form').find(':input');
        inputs.eq(inputs.index(this) + 1).focus();
    });

    var sId = selectedID;
    for (var i = 0; i < timeouts.length; i++)
        clearTimeout(timeouts[i]);
    updateStatus();

    function updateStatus() {
        $.getJSON("/devices/RFMGateway/" + sId + "/status", function (jd) {
            $("#mode").text("Status: " + jd.lastActivity);

            timeouts.push(setTimeout(function () {
                updateStatus()
            }, 2000));
        });
    }
});
/*]]>*/</script>
<div style="text-align: center">


    <div id="exTab1" class="container col-md-12">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#1a" data-toggle="tab">Scanner</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab">Messages</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
                <div xmlns:th="http://www.thymeleaf.org">
                    <ul class="list-group" style="overflow-y:auto; max-height: 600px;margin: auto">
                        <li class="list-group-item" th:each="read:${temperatureReadings}"
                            th:text="${read.getTemperature()+'C '+read.getTime()}"></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="2a">

            </div>
        </div>


    </div>
</div>