<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header"></head>


<body class="bbg container-fluid">
<div class="row" th:with="nav=${'login'}" th:include="fragments/navbar"></div>
<div class="row">

    <div class="col-md-4 col-md-offset-4 jumbotron">
        <h3 align="center" th:text="#{msg.lToContinue}">Log in to continue</h3>
        <div th:if="${param.error}" class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Wrong username/password.
        </div>
        <form class="form-horizontal" style="margin-left: 3px;margin-right: 3px" action="#" th:action="@{/login}"
              method="post">
            <div class="form-group">
                <label for="username">Login</label>
                <input type="text" class="form-control" id="username" name="username"
                       placeholder=""></input>
            </div>
            <div class="form-group">
                <label for="password" th:text="#{msg.pass}">Password</label>
                <input class="form-control" type="password" id="password" name="password"
                       placeholder=""></input>
            </div>
            <div class="form-group">
                <input type="checkbox" name="remember-me" id="remember-me"></input>
                <label for="remember-me" th:text="#{msg.remember}">Remember me</label>

            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default" th:text="#{msg.logIn}">Log in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-offset-2" th:include="fragments/sideInfo">

    </div>
</div>
</body>
</html>